<!--每个页面中的公共注册部分-->
<div class="joinus">
    <div class="joinuscon">
        <p class="title">Register today and get Free Membership!</p>
        <p class="title">It's fast and easy.</p>
        <div class="joinusbtn">REGISTER NOW</div>
    </div>
</div>
<!--头部search-->
<div class="header">
    <div class="topsearchwrap">
        <ul class="topsearch clearfloat">
            <li class="leftitem">MySoEazy</li>
            <li class="centeritem">
                <input type="text" class="searchinp" placeholder="Serach for Any Vehicle">
                <span class="searchimg"></span>
            </li>
            <li class="timeitem">
                <span class="times">08:00 PM CST</span>
            </li>
            <li class="sigin">REGISTER NOW</li>
        </ul>        
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="companycon">
        <ul class="titlelist clearfloat">
            <li>
                <dl>
                    <dt>VEHICLE FINDER</dt>
                    <dd>
                        <ul class="listcon clearfloat">
                            <li><a href="">Automobiles</a></li>
                            <li><a href="">Automobiles</a></li>
                            <li><a href="">Automobiles</a></li>
                            <li><a href="">Automobiles</a></li>
                        </ul>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>AUCTIONS</dt>
                    <dd>
                        <ul class="auctionlist clearfloat">
                            <li>
                                <a href="">Search Auctions</a>
                            </li>
                            <li>
                                <a href="">Search Auctions</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>COMPANY INFORMATION</dt>
                    <dd>
                        <ul class="company clearfloat">
                            <li>
                                <a href="">About AutoBidMaster</a>
                            </li>
                            <li>
                                <a href="">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="">Trust Shield Program</a>
                            </li>
                            <li>
                                <a href="">AutoBidMaster Reviews</a>
                            </li>
                            <li>
                                <a href="">AutoBidMaster Blog</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!-------友情连接------>
<div class="frinendlinks">
    <div class="frinendlinkscon">
        <ul class="links clearfloat">
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
        </ul>
    </div>
</div>
<!--最底部-->
<div class="bottomfooter">
	<p class="linksp">Copyright © 2018 MySoEazy All Rights Reserved.The use of this Web site constitutes acceptance of the Terms of Service and Privacy Policy.</p>
</div>
