<div class="footer">
    <div class="companycon">
        <ul class="titlelist clearfloat">
            <li>
                <dl>
                    <dt>VEHICLE FINDER</dt>
                    <dd>
                        <ul class="listcon clearfloat">
                            <li><a href="">Automobiles</a></li>
                            <li><a href="">Automobiles</a></li>
                            <li><a href="">Automobiles</a></li>
                            <li><a href="">Automobiles</a></li>
                        </ul>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>AUCTIONS</dt>
                    <dd>
                        <ul class="auctionlist clearfloat">
                            <li>
                                <a href="">Search Auctions</a>
                            </li>
                            <li>
                                <a href="">Search Auctions</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>COMPANY INFORMATION</dt>
                    <dd>
                        <ul class="company clearfloat">
                            <li>
                                <a href="">About AutoBidMaster</a>
                            </li>
                            <li>
                                <a href="">Terms&Conditions</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!-------友情连接------>
<div class="frinendlinks">
    <div class="frinendlinkscon">
        <ul class="links clearfloat">
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
        </ul>
    </div>
</div>
<!--最底部-->
<div class="bottomfooter">
	<p class="linksp">Copyright © 2018 MySoEasy All Rights Reserved.The use of this Web site constitutes acceptance of the Terms of Service and Privacy Policy.</p>
</div>
