<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Detail</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/details.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
	<div id="details">
		<!--导航-->
		<div id="headersearch"></div>
		<!--面包屑导航-->
		<div class="navigation">
			<div class="navcon clearfloat">
				<a href="" class="returnlink">Home</a>
				<a href="" class="returnlink">Vehicle</a>
				<a href="" class="returnlink">Finder Cars</a>
				<a href="javascript:void(0)" class="presentlink">2014 BMW 328 | SULE2.0L</a>
			</div>
		</div>
		<div class="detailcon">
			<div class="detailconwrap">
				<p class="listtitle">2014 BMW 328 | SULE 2.0L for Sale at Copart Auto Auction</p>
				<div class="imgswrap">
					<img src="../static/images/ISP_00012.jpg" alt="">
				</div>
				<div class="detailstips">
					<!--第一部分-->
					<div class="firsttips">
						<p class="detailstipstitle">Bid Information</p>
						<ul class="tipslist">
							<li>
								<span class="tipslistname">Bid Status:</span>
								<span class="tipslistintr bidsta">Never Bid</span>
							</li>
							<li>
								<span class="tipslistname">Sale Status:</span>
								<span class="tipslistintr salesta">Pure Sale</span>
							</li>
							<li>
								<span class="tipslistname">Current Bid:</span>
								<span class="tipslistintr curebid">$2,100 USD</span>
							</li>
						</ul>		
						<div class="btns clearfloat">
							<div class="rightbtn">BID NOW</div>
							<div class="leftbtn">$200</div>
						</div>				
					</div>
					<!--第二部分-->
					<div class="twotips">
						<p class="detailstipstitle">Lot # 21855388 Details</p>
						<ul class="tipslist">
							<li>
								<span class="tipslistname">Est Retail Value:</span>
								<span class="tipslistintr estrcal">$18,745.34 USD</span>
							</li>
							<li>
								<span class="tipslistname">EST Repair Cost:</span>
								<span class="tipslistintr estcost">$13,083.01 USD</span>
							</li>
							<li>
								<span class="tipslistname">Ownership Doc Type:</span>
								<span class="tipslistintr owntype">NC SALVAGE CERTIFICATE OF TITLE</span>
							</li>
							<li>
								<span class="tipslistname">Odometer:</span>
								<span class="tipslistintr odometer">48,977 Not Actual</span>
							</li>
							<li>
								<span class="tipslistname">Primary Damage:</span>
								<span class="tipslistintr primarydam">SIDE</span>
							</li>
							<li>
								<span class="tipslistname">Secondary Damage:</span>
								<span class="tipslistintr secondarydam">REAR END</span>
							</li>
						</ul>
					</div>
					<!--第三部分-->
					<div class="threetips">
						<p class="detailstipstitle">Features</p>
						<ul class="tipslist">
							<li>
								<span class="tipslistname">Body Style:</span>
								<span class="tipslistintr bodysty">SEDAN 4DR</span>
							</li>
							<li>
								<span class="tipslistname">Color:</span>
								<span class="tipslistintr colors">CHARCOAL</span>
							</li>
							<li>
								<span class="tipslistname">Englne:</span>
								<span class="tipslistintr englnet">2.0L 4</span>
							</li>
							<li>
								<span class="tipslistname">Drive:</span>
								<span class="tipslistintr drivet">Rear-wheel drive</span>
							</li>
							<li>
								<span class="tipslistname">Cylinders:</span>
								<span class="tipslistintr cylinderst">4</span>
							</li>
							<li>
								<span class="tipslistname">Fuel:</span>
								<span class="tipslistintr fuelt">GAS</span>
							</li>
							<li>
								<span class="tipslistname">Keys:</span>
								<span class="tipslistintr keyst">YES</span>
							</li>
							<li>
								<span class="tipslistname">Auction Verification:</span>
								<span class="tipslistintr auctiont">Run & Drive Verified</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--display-->
		<div class="cardisplay">
			<div class="cardisplaywrap">
				<p class="cardisplaytit">SIMILAR VEHICLES</p>
				<div class="cardisplaylistwrap">
					<ul class="cardisplaylist clearfloat">
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd class="overflowhidden">SUV SUV SUV SUV SUV SUV SUV </dd>
								</dl>								
							</a>
						</li>
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd class="overflowhidden">SUV SUV SUV SUV SUV SUV SUV </dd>
								</dl>								
							</a>
						</li>
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd class="overflowhidden">SUV SUV SUV SUV SUV SUV SUV </dd>
								</dl>								
							</a>
						</li>
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd class="overflowhidden">SUV SUV SUV SUV SUV SUV SUV </dd>
								</dl>								
							</a>
						</li>
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd class="overflowhidden">SUV SUV SUV SUV SUV SUV SUV </dd>
								</dl>								
							</a>
						</li>
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd class="overflowhidden">SUV SUV SUV SUV SUV SUV SUV </dd>
								</dl>								
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
        <!--twosigin-->
        <div id="joins"></div>
        <!--footer-->
        <div id="footer"></div>
        <div id="bottomfooter"></div>
	</div>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script>
        $("#headersearch").load("../views/commons.html .header",function(){});//加载头部搜索栏
        $("#joins").load("../views/commons.html .joinus",function(){});//各个页面的注册
        $("#footer").load("../views/commons.html .footer",function(){});//底部懒
        $("#bottomfooter").load("../views/commons.html .bottomfooter",function(){});//底部懒
	</script>
</body>
</html>