<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>News</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/news.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
	<div id="news">
		<!--导航-->
		<div id="headersearch"></div>
		<!--面包屑导航-->
		<div class="navigation">
			<div class="navcon clearfloat">
				<a href="" class="returnlink">Home</a>
				<a href="javascript:void(0)" class="presentlink">News</a>
			</div>
		</div>
		<!--Shuffling figure-->
		<div class="Shuffling">
			<div class="Shufflingimgs">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide" style="background:url(../static/images/ISP_00017.jpg) no-repeat center;background-size: 100%">
				        	<div class="shadowbox"></div>
				        	<div class="imgtips">
					        	<p class="imgdesc overflowhidden2">Title Title Title Title Title Title Title Title</p>
					        	<p class="photosource">
					        		<span class="photoauthor">Dingdang</span>
					        		<span class="photodate">April 12,2018</span>
					        	</p>				        		
				        	</div>
				        </div>
				        <div class="swiper-slide" style="background:url(../static/images/ISP_00014.jpg) no-repeat center;background-size:  100%">
				        	<div class="shadowbox"></div>
				        	<div class="imgtips">
					        	<p class="imgdesc overflowhidden2">Title Title Title Title Title Title Title Title</p>
					        	<p class="photosource">
					        		<span class="photoauthor">Dingdang</span>
					        		<span class="photodate">April 12,2018</span>
					        	</p>				        		
				        	</div>
				        </div>
				        <div class="swiper-slide" style="background:url(../static/images/ISP_00018.jpg) no-repeat center;background-size:  100%">
				        	<div class="shadowbox"></div>
				        	<div class="imgtips">
					        	<p class="imgdesc overflowhidden2">Title Title Title Title Title Title Title Title</p>
					        	<p class="photosource">
					        		<span class="photoauthor">Dingdang</span>
					        		<span class="photodate">April 12,2018</span>
					        	</p>				        		
				        	</div>
				        </div>
				    </div>
				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<!--news and share-->
		<div class="newslistandshare">
			<div class="newslistandsharewrap clearfloat">
				<!--左侧新闻-->
				<div class="leftnews">
					<ul class="newslists clearfloat">
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd>
										<p class="newstit overflowhidden2">Title Title Title Title Title Title Title Title TitleTitle Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</p>
										<p class="newscons overflowhidden2">Description Description Description Description Description Description Description Description Description Description Description Description Description Description </p>
										<div class="bottomtabs overflowhidden1">
											<span class="datetime">April 12,2018</span>
											<span class="persons">367</span>
											<span class="comments">15</span>
											<span class="praise">18</span>
										</div>
									</dd>
								</dl>
							</a>
						</li>
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd>
										<p class="newstit overflowhidden2">Title Title Title Title Title Title Title Title TitleTitle Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</p>
										<p class="newscons overflowhidden2">Description Description Description Description Description Description Description Description Description Description Description Description Description Description </p>
										<div class="bottomtabs overflowhidden1">
											<span class="datetime">April 12,2018</span>
											<span class="persons">367</span>
											<span class="comments">15</span>
											<span class="praise">18</span>
										</div>
									</dd>
								</dl>
							</a>
						</li>
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd>
										<p class="newstit overflowhidden2">Title Title Title Title Title Title Title Title TitleTitle Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</p>
										<p class="newscons overflowhidden2">Description Description Description Description Description Description Description Description Description Description Description Description Description Description </p>
										<div class="bottomtabs overflowhidden1">
											<span class="datetime">April 12,2018</span>
											<span class="persons">367</span>
											<span class="comments">15</span>
											<span class="praise">18</span>
										</div>
									</dd>
								</dl>
							</a>
						</li>
						<!--循环节点-->
						<li>
							<a href="">
								<dl>
									<dt></dt>
									<dd>
										<p class="newstit overflowhidden2">Title Title Title Title Title Title Title Title TitleTitle Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</p>
										<p class="newscons overflowhidden2">Description Description Description Description Description Description Description Description Description Description Description Description Description Description </p>
										<div class="bottomtabs overflowhidden1">
											<span class="datetime">April 12,2018</span>
											<span class="persons">367</span>
											<span class="comments">15</span>
											<span class="praise">18</span>
										</div>
									</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<!--右侧share-->
				<div class="rightshare">
					<!--topshare-->
					<div class="shares">
						<p class="sharestit">Follow Us</p>
						<ul class="linksurl">
							<!--facebook-->
							<li>
								<a href="">
									<span class="leftlinks" style="background:url(../static/images/links_03.png) no-repeat center;"></span>
									<span class="centerlinksname">FACEBOOK</span>
									<span class="rightsha">LIKE</span>			
								</a>
							</li>
							<!--twitter-->
							<li>
								<a href="">
									<span class="leftlinks" style="background:url(../static/images/links_06.png) no-repeat center;"></span>
									<span class="centerlinksname">TWITTER</span>
									<span class="rightsha">FOLLOW</span>			
								</a>
							</li>
							<!--INSTAGRAM-->
							<li>
								<a href="">
									<span class="leftlinks" style="background:url(../static/images/links_08.png) no-repeat center;"></span>
									<span class="centerlinksname">INSTAGRAM</span>
									<span class="rightsha">FOLLOW</span>			
								</a>
							</li>
							<!--INSTAGRAM-->
							<li>
								<a href="">
									<span class="leftlinks" style="background:url(../static/images/links_10.png) no-repeat center;"></span>
									<span class="centerlinksname">YOUTUBE</span>
									<span class="rightsha">FOLLOW</span>			
								</a>
							</li>
						</ul>
					</div>
					<!--news-->
					<div class="shares sharenews">
						<p class="sharestit">Top News</p>
						<ul class="topnews">
							<!--newslist-->
							<li>
								<dl>
									<dt></dt>
									<dd>
										<p class="topnewstit overflowhidden2">Title Title Title Title Title Title Title Title Title Title Title Title Title Title TitleTitle Title </p>
										<p class="dateriqi">April 4,12</p>
									</dd>
								</dl>
							</li>
							<!--newslist-->
							<li>
								<dl>
									<dt></dt>
									<dd>
										<p class="topnewstit overflowhidden2">Title Title Title Title Title Title Title Title Title Title Title Title Title Title TitleTitle Title </p>
										<p class="dateriqi">April 4,12</p>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
        <!--twosigin-->
        <div id="joins"></div>
        <!--footer-->
        <div id="footer"></div>
        <div id="bottomfooter"></div>
	</div>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
	<script>
        $("#headersearch").load("../views/commons.html .header",function(){});//加载头部搜索栏
        $("#joins").load("../views/commons.html .joinus",function(){});//各个页面的注册
        $("#footer").load("../views/commons.html .footer",function(){});//底部懒
        $("#bottomfooter").load("../views/commons.html .bottomfooter",function(){});//底部懒
		var mySwiper = new Swiper('.swiper-container',{
			prevButton:'.swiper-button-prev',
			nextButton:'.swiper-button-next',
		})
	</script>
</body>
</html>