<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/layui.css" rel="stylesheet">
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/productlist.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
	<div id="productlist">
		<!--导航-->
		<div id="headersearch"></div>
		<!--面包屑导航-->
		<div class="navigation">
			<div class="navcon clearfloat">
				<a href="" class="returnlink">Home</a>
				<a href="javascript:void(0)" class="returnlink">Vehicle Finder Cars</a>
				<a href="javascript:void(0)" class="presentlink">Automobile,2013 - 2018</a>
			</div>
		</div>
		<!--内容详情-->
		<div class="productcon">
			<div class="productconwrap">
				<p class="productcontit">Salvaged 2018 Automobiles for Auction</p>
				<div class="productlists clearfloat">
					<!--左边的搜索-->
					<div class="productlistsleft">
						<!--项目搜索循环-->
						<div class="leftsearch">
							<p class='leftsearchtit'>Make</p>
							<ul class="searchlist">
								<!--循环节点-->
								<li class="overflowhidden">
									<input class="toggle" type="checkbox" id="chek1">
									<label class="lebelchek" for="chek1">
										<span class="searchtit">ACUAR</span>
										<span class="searchnum">(200)</span>
									</label>
								</li>
								<!--循环节点-->
								<li class="overflowhidden">
									<input class="toggle" type="checkbox" id="chek2">
									<label class="lebelchek" for="chek2">
										<span class="searchtit">ACUAR</span>
										<span class="searchnum">(200)</span>
									</label>
								</li>
							</ul>
						</div>

						<!--项目搜索循环-->
						<div class="leftsearch">
							<p class='leftsearchtit'>Model</p>
							<ul class="searchlist">
								<!--循环节点-->
								<li class="overflowhidden">
									<input class="toggle" type="checkbox" id="chek3">
									<label class="lebelchek" for="chek3">
										<span class="searchtit">ILX</span>
										<span class="searchnum">(20)</span>
									</label>
								</li>
								<!--循环节点-->
								<li class="overflowhidden">
									<input class="toggle" type="checkbox" id="chek4">
									<label class="lebelchek" for="chek4">
										<span class="searchtit">ILX</span>
										<span class="searchnum">(2)</span>
									</label>
								</li>
							</ul>
						</div>

						<!--项目搜索循环-->
						<div class="leftsearch">
							<p class='leftsearchtit'>Year</p>
							<ul class="searchlist">
								<!--循环节点-->
								<li class="overflowhidden">
									<input class="toggle" type="checkbox" id="chek5">
									<label class="lebelchek" for="chek5">
										<span class="searchtit">2018</span>
										<span class="searchnum">(20)</span>
									</label>
								</li>
								<!--循环节点-->
								<li class="overflowhidden">
									<input class="toggle" type="checkbox" id="chek6">
									<label class="lebelchek" for="chek6">
										<span class="searchtit">2018</span>
										<span class="searchnum">(2)</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<!--右边的展示-->
					<div class="productlistsright">
						<ul class="righttoptit righttopstyle clearfloat">
							<li class="firstli">
								<span class="lefttext">List View</span>
								<span class="righttext">Gallery View</span>
							</li>
							<li class="secondli"></li>
							<li class="thirdli">
								<span class="total">50,000</span>
							</li>
						</ul>
						<div class="listwrap">
							<!--循环节点-->
							<ul class="righttopcon righttopstyle clearfloat">
								<!--如果点击每个列表可以进入详情页则用a标签，当然也可以不用，随你-->
								<a href="javascript:void(0)">
									<li class="firstli"><img src="../static/images/cars.png" alt=""></li>
									<li class="secondli">
										<p class="secondlitit overflowhidden">2014 ACURA MDX TECHNO 3.5L</p>
										<ul class="cartips clearfloat">
											<li class="mileage overflowhidden">72,900(Actual)</li>
											<li class="saledate overflowhidden">4/25/2018</li>
											<li class="damage overflowhidden">FRONT END</li>
											<li class="location overflowhidden">FL -MIAMI CENTRAL</li>
											<li class="vin overflowhidden">19UAUUA1223</li>
										</ul>
										<p class="price">
											<span class="meiprice">$200</span>
											<span class="aishsa">Current Bid</span>
										</p>
									</li>									
								</a>
								<li class="thirdli">
									<p class="thirdlilitit overflowhidden">On Approval</p>
									<div class="thirdbtn">BID NOW</div>
								</li>									
							</ul>
							<!--循环节点-->
							<ul class="righttopcon righttopstyle clearfloat">
								<!--如果点击每个列表可以进入详情页则用a标签，当然也可以不用，随你-->
								<a href="javascript:void(0)">
									<li class="firstli"><img src="../static/images/cars.png" alt=""></li>
									<li class="secondli">
										<p class="secondlitit overflowhidden">2014 ACURA MDX TECHNO 3.5L</p>
										<ul class="cartips clearfloat">
											<li class="mileage overflowhidden">72,900(Actual)</li>
											<li class="saledate overflowhidden">4/25/2018</li>
											<li class="damage overflowhidden">FRONT END</li>
											<li class="location overflowhidden">FL -MIAMI CENTRAL</li>
											<li class="vin overflowhidden">19UAUUA1223</li>
										</ul>
										<p class="price">
											<span class="meiprice">$200</span>
											<span class="aishsa">Current Bid</span>
										</p>
									</li>									
								</a>
								<li class="thirdli">
									<p class="thirdlilitit overflowhidden">On Approval</p>
									<div class="thirdbtn">BID NOW</div>
								</li>									
							</ul>
							<!--分页显示，用的是twbs-pagination/-->
							<div class="fenye">
								<p class="fenyetips">Show
									<span class="displaypages">1-4</span> of
									<span class="allpages">10</span>
								</p>
								<div id="pages"></div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
        <!--twosigin-->
        <div id="joins"></div>
        <!--footer-->
        <div id="footer"></div>
        <div id="bottomfooter"></div>
	</div>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/twbs-pagination/1.4.0/jquery.twbsPagination.min.js"></script>
	<script>
        $("#headersearch").load("../views/commons.html .header",function(){});//加载头部搜索栏
        $("#joins").load("../views/commons.html .joinus",function(){});//各个页面的注册
        $("#footer").load("../views/commons.html .footer",function(){});//底部懒
        $("#bottomfooter").load("../views/commons.html .bottomfooter",function(){});//底部懒
	    $('#pages').twbsPagination({
	    	visiblePages:4,//默认可见页数
		  	totalPages: 10,//总页数
		  	startPage: 1,//起始页
		  	viewsisiblePages: 10,//展示页数，超出5页展示5页，未超出时展示总页数
		  	initiateStartPageClick: true,
		  	hideOnlyOnePage: true,//只有一页时不展示分页
	        onPageClick: function (event, page) {//点击页面事件，回调函数，只能使用ajax异步加载，
	            console.log(event,page)
	        }
	    });
	</script>
</body>
</html>